*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.gameBoardContainer {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  border: solid 1px black;
  width: 900px;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-squares {
  border: solid 1px black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
