*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#display {
  height: 100px;
  width: 300px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoardContainer {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameboard {
  border: solid 1px black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-squares {
  border: solid 1px black;
  height: 166px;
  width: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
